@import "https://fonts.googleapis.com/css?family=Abel&amp;text=0123456789";
body {
    font: normal 64px Abel;
    text-transform: uppercase;
    color: #666;
}

b {
    color: #DC143C;
}

i {
    color: #666;
}
